body {
    padding: 0;
    margin: 0;
}
.bigcontainer {
    margin: 10rem 0;
    display: flex;
    justify-content: center;
}

#container {
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.poster {
    max-height: 15rem;
    max-width: 15rem;
    margin: 0 0 4rem 0;
}

.card {
    display: flex;
    gap: .5rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 15rem;
    flex: 1 0 calc(25% - 10px);
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    margin: 0 0 4rem 0;
}

.legend {
    overflow: auto;
    max-height: 8rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 1rem;  
}